# Stytch extension: Configure authentication
# This appends to base.py settings

# Override REST Framework authentication settings
REST_FRAMEWORK['DEFAULT_AUTHENTICATION_CLASSES'] = [
    'auth.authentication.StytchJWTAuthentication',
]
REST_FRAMEWORK['DEFAULT_PERMISSION_CLASSES'] = [
    'rest_framework.permissions.IsAuthenticated',
]

# Stytch Configuration
# Non-confidential values baked in at generation time
STYTCH_PROJECT_ID = '{{{stytchProjectId}}}'
STYTCH_PUBLIC_TOKEN = '{{{stytchPublicToken}}}'
STYTCH_ROLE_CLAIM_KEY = '{{{roleClaimKey}}}'
{{#tenantIdClaimKey}}
STYTCH_TENANT_CLAIM_KEY = '{{{tenantIdClaimKey}}}'
{{/tenantIdClaimKey}}
{{^tenantIdClaimKey}}
STYTCH_TENANT_CLAIM_KEY = ''
{{/tenantIdClaimKey}}

# Secret is read from environment variable (never baked in)
# STYTCH_SECRET should be set via PYTHON_DRF_STYTCH_SECRET env var
